<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ks4pl.oasvr.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.ks4pl.oasvr.entity.Department">
        <id column="id"  property="id"/>
        <result column="name"  property="name"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id, name FROM department
    </select>

    <select id="total" parameterType="map" resultType="Integer">
        SELECT count(id) FROM department
        <where> 1=1
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null and name!=''">
                AND name LIKE concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="selectByCondition" parameterType="map" resultMap="BaseResultMap">
        SELECT id, name from department
        <where>
            <if test="name != null and name!=''">
                name LIKE concat('%', #{name}, '%')
            </if>
        </where>
        ORDER BY id <if test="num != null and size != null">limit #{num}, #{size}</if>
    </select>

    <select id="selectById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT id, name from department WHERE id=#{id}
    </select>
</mapper>