<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ks4pl.oasvr.mapper.PermissionMapper">

    <resultMap id="perResultMap" type="com.ks4pl.oasvr.entity.Permission">
        <result property="uid" column="uid"/>
        <result property="pol" column="pol"/>
        <result property="reg" column="reg"/>
        <result property="sum" column="sum"/>
        <result property="doc" column="doc"/>
        <result property="con" column="con"/>
    </resultMap>

    <select id="selectPermissionByUser" resultMap="perResultMap">
        SELECT uid, pol, reg, sum, doc, con FROM permission
        WHERE uid = #{uid}
    </select>
    <insert id="insert" parameterType="com.ks4pl.oasvr.entity.Permission">
        INSERT INTO permission (uid, pol, reg, sum, doc, usr, con)
        VALUES (#{per.uid}, #{per.pol}, #{per.reg}, #{per.sum}, #{per.doc}, #{per.usr}, #{per.con})
    </insert>

    <update id="update" parameterType="com.ks4pl.oasvr.entity.Permission">
        UPDATE permission SET pol=#{per.pol}, reg=#{per.reg}, sum=#{per.sum},
              doc=#{per.doc}, usr=#{per.usr}, con=#{per.con}
        WHERE uid=#{per.uid}
    </update>

</mapper>