<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ks4pl.oasvr.mapper.PermissionMapper">

    <resultMap id="perResultMap" type="com.ks4pl.oasvr.entity.Permission">
        <result property="uid" column="uid"/>
        <result property="pol" column="pol"/>
        <result property="reg" column="reg"/>
        <result property="sum" column="sum"/>
    </resultMap>

    <select id="selectPermissionByUser" resultMap="perResultMap">
        SELECT uid, pol, reg, sum FROM permission
        WHERE uid = #{uid}
    </select>

</mapper>