<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ks4pl.oasvr.mapper.RegulationListItemMapper">

<resultMap id="BaseResultMap" type="com.ks4pl.oasvr.model.RegulationListItem">
    <result property="name" column="name" />
    <result property="departmentName" column="depName"/>
    <result property="departmentId" column="depId"/>
    <result property="issueDate" column="issueDate"/>
    <result property="state" column="state"/>
    <result property="operatorName" column="operator"/>
    <result property="operatorId" column="uid"/>
    <result property="operateTime" column="operateTime"/>
</resultMap>

<select id="selectAll" resultMap="BaseResultMap">
    SELECT r.name, r.issueDate, r.state, r.operateTime,
           d.name depName, d.id depId, u.name operator, u.id uid
    FROM regulation r, department d, user u
    WHERE r.departmentId=d.id AND r.operatorId=u.id
</select>

<select id="selectByCondition" parameterType="Map" resultMap="BaseResultMap">
    SELECT r.name, r.issueDate, r.state, r.operateTime, d.name depName, d.id depId, u.name operator, u.id uid
    FROM regulation r, department d, user u
    <where>
        r.departmentId=d.id AND r.operatorId=u.id
        <if test="name!=null">
            AND r.name LIKE  concat('%', #{name}, '%')
        </if>
        <if test="departmentId != null">
            AND r.departmentId=#{departmentId}
        </if>
        <if test="startDate != null">
            AND r.issueDate &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND r.issueDate &lt;= #{endDate}
        </if>
        <if test="state != null">
            And r.state=#{state}
        </if>
    </where>
    ORDER by r.issueDate DESC
</select>
</mapper>
