<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ks4pl.oasvr.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.ks4pl.oasvr.entity.User">
        <id column="id"  property="id"/>
        <result column="name" property="name"/>
        <result column="departmentId" property="departmentId"/>
        <result column="tel" property="tel"/>
        <result column="state" property="state"/>
        <result column="email" property="email"/>
        <result column="registTime" property="registTime"/>
        <result column="lastLoginTime" property="lastLoginTime"/>
        <result column="passwd" property="passwd"/>
    </resultMap>

    <sql id="allCol">
        id, name, tel, email, departmentId, state, registTime, lastLoginTime, passwd
    </sql>

    <select id="selectUserByTelOrEmail" resultMap="userResultMap" resultType="com.ks4pl.oasvr.entity.User">
        SELECT <include refid="allCol"/>  FROM user
        WHERE tel=#{0} OR email=#{0} AND deleted=0
    </select>

    <select id="slectUserById" resultMap="userResultMap" resultType="com.ks4pl.oasvr.entity.User">
        SELECT <include refid="allCol"/> FROM user WHERE id=#{uid}
    </select>

    <sql id="insCol">
        name, tel, email, departmentId, state, registTime, passwd, deleted
    </sql>
    <insert id="insert"  parameterType="com.ks4pl.oasvr.entity.User">
        INSERT INTO user (<include refid="insCol"/>)
        VALUES (#{user.name}, #{user.tel}, #{user.email}, #{user.departmentId}, #{user.state},
                #{user.registTime}, #{user.passwd}, 0)
    </insert>

    <update id="deleteById" parameterType="Integer">
        UPDATE user SET deleted=1 WHERE id=#{uid}
    </update>

    <update id="updatePasswdById">
        UPDATE user SET passwd=#{passwd} WHERE id=#{uid}
    </update>

    <update id="updateById" parameterType="com.ks4pl.oasvr.entity.User">
        UPDATE user <trim prefix="SET" suffixOverrides=",">
        <if test="u.name!=null">
            name=#{u.name},
        </if>
        <if test="u.tel != null">
            tel=#{u.tel},
        </if>
        <if test="u.email != null">
            email=#{u.email},
        </if>
        <if test="u.departmentId != null">
            departmentId=#{u.departmentId},
        </if>
        <if test="u.state != null">
            state=#{u.state},
        </if>

    </trim>
        WHERE id=#{u.id}
    </update>

    <select id="getLastInsertId" resultType="Integer">
        SELECT LAST_INSERT_ID()
    </select>
</mapper>



