<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ks4pl.oasvr.mapper.UserListItemMapper">

    <resultMap id="userResultMap" type="com.ks4pl.oasvr.model.UserListItem">
        <id column="id"  property="id"/>
        <result column="name" property="name"/>
        <result column="departmentId" property="departmentId"/>
        <result column="departmentName" property="departmentName"/>
        <result column="tel" property="tel"/>
        <result column="state" property="state"/>
        <result column="email" property="email"/>
        <result column="registTime" property="registTime"/>
        <result column="lastLoginTime" property="lastLoginTime"/>
        <result column="pol" property="perPol"/>
        <result column="reg" property="perReg"/>
        <result column="sum" property="perSum"/>
        <result column="usr" property="perUsr"/>
        <result column="con" property="perCon"/>
    </resultMap>

    <sql id="allCol">
        u.id, u.name, u.tel, u.email, u.departmentId, u.state, u.registTime, u.lastLoginTime,
        d.name departmentName, p.pol, p.reg, p.sum, p.usr, p.con
    </sql>

    <select id="selectById" parameterType="Integer" resultMap="userResultMap">
        SELECT <include refid="allCol"/> FROM user u, department d, permission p
        WHERE u.id=#{uid} AND d.id=u.departmentId AND p.uid=u.id AND u.deleted=0
    </select>

    <select id="selectByCondition" resultMap="userResultMap" resultType="com.ks4pl.oasvr.model.UserListItem">
        SELECT <include refid="allCol"/>  FROM user u, department d, permission p
        <where>
            d.id=u.departmentId AND u.deleted=0 AND p.uid=u.id
            <if test="id!=null">
                AND u.id=#{id}
            </if>
            <if test="name!=null and name!=''">
                AND u.name LIKE  concat('%',#{name},'%')
            </if>
            <if test="tel!=null and tel!=''">
                AND u.tel LIKE  concat('%',#{tel},'%')
            </if>
            <if test="email!=null and email!=''">
                AND u.email LIKE  concat('%',#{email},'%')
            </if>
            <if test="departmentId!=null and departmentId!=''">
                AND u.departmentId=#{departmentId}
            </if>
            <if test="state!=null and state!=''">
                AND u.state=#{state}
            </if>
        </where>
        ORDER BY id <if test="num != null and size != null">limit #{num}, #{size}</if>
    </select>

    <select id="total"  resultType="Integer">
        SELECT count(u.id) FROM user u, department d, permission p
        <where>
            d.id=u.departmentId AND u.deleted=0 AND p.uid=u.id
            <if test="id!=null">
                AND u.id=#{id}
            </if>
            <if test="name!=null and name!=''">
                AND u.name LIKE  concat('%',#{name},'%')
            </if>
            <if test="tel!=null and tel!=''">
                AND u.tel LIKE  concat('%',#{tel},'%')
            </if>
            <if test="email!=null and email!=''">
                AND u.email LIKE  concat('%',#{email},'%')
            </if>
            <if test="departmentId!=null and departmentId!=''">
                AND u.departmentId=#{departmentId}
            </if>
            <if test="state!=null and state!=''">
                AND u.state=#{state}
            </if>
        </where>
    </select>

</mapper>



